<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
 <appSettings>
      <add key="x-max-length" value="1000"/>
      <add key="x-message-ttl" value="20000"/>
      <add key="x-expires" value="1800000"/>

      <add key="RMQ_UserName" value="your_username" />
      <add key="RMQ_Password" value="your_password" />
      <add key="RMQ_Port" value="5672" />
      <add key="RMQ_Host" value="your_host" />
    </appSettings>
 </configuration>
